*{
    padding: 0%;
    margin: 0%;
}
.text-left{
    text-align-last: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
img{
    max-width: 100%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.mid-content{
    max-width: 1300px;
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* begining css */
body,h1,h2,h3,h4,h5,h6,a,p,span{
    font-family: 'Work Sans', sans-serif;
}

/* Menu-Section */

.header-menu-section{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    color: #010101;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
.header-logo{
    width: 30%;
}
.Logo img{
    height: 65px;
    float:left;
    margin-right: 10px;
}
.Logo span{
    font-size: 25px;
    display: block;
    color: #010101;
    font-weight: 600;
    margin-top: 20px;
}
.Logo span:hover{
    color: #CCCCCC!important;
}
.header-menu{
    width: 55%;
}
.primary-menu{}
.primary-menu ul{}
.primary-menu ul li{
    display: inline-block;
}
.primary-menu ul li a{
    display: block;
    padding: 0 20px;
    color: #010101;
    font-size: 20px;
    line-height: 70px;
}
.primary-menu ul li a:hover{
    color: #6278DF;
}
.header-button{
    width: 15%;
    text-align: right;
}
.primary-btn a{
    display: inline-block;
    border: 3px solid #6278DF;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 600;
    color: #6278df !important;
    border-radius: 10px;
    margin-top: 13px;
    background: none;
    transition: .4s;
}

.primary-btn:hover a{
    color: #ffffff !important;
    box-shadow: 0px 0px 8px #6278DF;
    background: #6278DF;
}

/* Dropdown Menu */
.primary-menu ul li{
    position: relative;
}
.primary-menu ul li ul{
    position: absolute;
    width: 280px;
    left: 0;
    top: 100%;
    background-color: #f9f9f9;

    opacity: 0;
    visibility: hidden;
    transition: .4s;
    transform: scaleY(0);
    transform-origin: top center;
    z-index: 10;
}

.primary-menu ul li ul li a{
    color: #474747;
}

.primary-menu ul li ul li a:hover{
    color: #6278DF;
}
.primary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    color:#6278DF!important;
}

/* Banner Section css */

.banner-section{
    background: url(./img/mbr-4.jpg) center center;
    background-size: cover;
    padding: 180px 0px;
    position: relative;
    z-index: 9;
}
.banner-section::after{
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.banner-content{
    color: #fff;
}
.banner-content h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
}
.banner-content h2{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 40px;
}

.default-btn{
    display: inline-block;
    font-size: 25px;
    color: #7D7D7D;
    background-color: #FCFCFC;
    font-weight: 500;
    padding: 18px 25px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: .4s;
}
.default-btn:hover{
    color: #fff;
    background-color: #6278DF;
}

/* Banner-bottom Video Section */
.banner-bottom{
    background-color: #F7F9FF;
    padding: 110px 0;
}
.video-left{
    width: 48%;
}
.content-right{
    width: 48%;
}
.text-content h2{
    font-size: 45px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 30px;
}
.text-content p{
    color: #A2A3A5;
    font-size: 20px;
    line-height: 1.6em;
    font-weight: 300;
}


/* Service-section */

.service-section{
    padding: 60px 0;
}
.about-header{}
.about-header h1{
    font-size: 60px;
    margin-bottom: 30px;
}
.about-header p{
    font-size: 30px;
    color: #A2A3A5;
}

/* Service- Iteams */

.service-iteams{
    margin-top: 80px;
}
.service-box{
    width: 31.33%;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, .1);
    margin-right: 2%;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 40px 25px;
    border-radius: 10px;
}
.s-icon{
    float: left;
    width: 60px;
    min-height: 122px;
}
.s-icon span{
    color: #6278DF;
    font-size: 45px;
    margin-right: 20px;

}
.s-content{}
.s-content h3{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 500;
}
.s-content p{
    font-size: 20px;
    color: #A2A3A5;
}

/* Price Table-Section */

.price-table-section{
    background-color: #F7F9FF;
    padding: 50px;

}
.price-table-header{
    margin-bottom: 60px;
}
.price-table-text{
}
.price-table-text h3{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;
}
.price-table-text p{
    font-size: 20px;
    color: #767676;
}

.price-table-content{
    width: 31.33%;
    margin-right: 2%;
    box-sizing: border-box;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
.price-table-content:last-child{
    margin-right: 0;
}
.table-header{}
.table-header h4{
    font-size: 30px;
    font-weight: 500;
}
.table-header h3{
    padding: 30px 0;
    font-size: 35px;
}
.table-header span{
    font-size: 20px;
}
.table-header h5{
    font-size: 20px;
    margin-bottom: 15px;
}
.table-header p{
    font-size: 22px;
    margin-bottom: 20px;
}
.table-top{
    border-bottom: 3px solid #ddd;
    padding: 30px;
}
.table-price{
    margin-top: 25px;
    padding: 30px;
}
.table-price ul{}
.table-price ul li{
    font-size: 23px;
    margin-bottom: 35px;
    color: #767676;
}
.table-price ul li span{
    color: #6278DF;
    font-size: 25px;
    margin-right: 15px;
}

.table-btn{
    margin-top: 20px;

}
.tab-btn{
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, .1);
    display: inline-block;
    padding: 15px 80px;
    font-size: 22px;
    color: #6278DF;
    border-radius: 10px;

}

/* Hover Section */
.price-table-content:hover .table-top{
    background-color: #6278DF;
    color: #ffffff;
}
.price-table-content:hover .tab-btn{
    background-color: #6278DF;
    color: #ffffff;
}
.tab-btn:hover{
    background-color: #0c0b0b!important;
    color: #fff!important;
}


/* Profile-Section */

.Profile-section{
    margin: 40px 0;
    padding: 30px;
}
.team-header{}
.team-header h3{
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 500;
}

.team-member{
    width: 23%;
    margin-right: 2%;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
    box-sizing: border-box;
    border-radius: 7px;
}
.team-member-profile{}
.image-section{}
.image-section img{
    width: 100%;
    border-radius: 7px 7px 0 0;
}

.profile-content{
    margin: 13px 15px;
    padding-bottom: 20px;
}
.profile-content h3{
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 500;
}
.profile-content p{
    font-size: 20px;
    color: #767676;
}

/* Newsletter-Section */

.newsletter-section{
    padding: 90px;
    background: #F7F9FF;
}
.news-letter-content{}
.news-letter-content h4{
    font-size: 27px;
    font-weight: 400;
    color: #767676;
}
.news-letter-content h2{
    font-size: 50px;
    font-weight: 400;
    margin-top: 40px;
}
.newsletter-form{
    margin-top: 60px;
}
.mail-btn{
    width: 350px;
    border-radius: 10px;
    padding: 18px 25px;
    font-size: 20px;
    border: 1px solid #ddd;
    margin-right: 10px;
    box-sizing: border-box;
    transition: .4s;

}
.submit-btn{
    background: #6278DF;
    padding:18px 90px;
    border-radius:10px;
    border:none;
    font-size: 23px;
    color: #fff;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid tr;

}
.mail-btn:hover{
    box-shadow: 0px 0px 8px #6278DF;

}
.submit-btn:hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.4);
    border: 1px solid #6278DF;
    color: #6278DF;
    background: #fff;

}

/* blog-sectionn */

.blog-section{
    padding: 80px 0;
}
.blog-title{}
.b-heading{
    width: 50%;
    padding: 70px 0;
}
.b-heading h3{
    font-size: 50px;
    font-weight: 500;
    margin-top: 13px;
}
.b-content{
    width: 50%;
    padding: 70px 0;
}
.b-content p{
    font-size: 20px;
    color: #767676;
    line-height: 1.7em;
}

.blog-items{}
.blog-post-items{
    width: 48%;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);

}
.blog-post-items img{
    float: left;
    width: 300px;
    margin-right: 15px;
}

.blog-post-content{
    margin-top: 15px;
}
.blog-post-content h3{
    font-size: 30px;
    margin-bottom: 17px;
    font-weight: 400;
}
.blog-post-content p{
    font-size: 21px;
    color: #767676;
    line-height: 1.5em;
}

/* testimonial-section */
.testimonial-iteams{
    margin-top: 40px;
    padding: 50px 0;
    background-color: #F7F9FF;
}
.news-letter-iteam{
    width: 31.33%;
    margin-right: 2%;
    box-sizing: border-box;
}
.letter-content{
    box-shadow: 2.5px 4.33px 30px 0 rgba(110, 113, 128, 0.1);
    padding: 50px 20px;
    background: #fff;
    position: relative;

}
.letter-content::after {
	content: "";
	top: 298px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 15px 0 15px;
	border-color: #ffffff transparent transparent transparent;
	position: absolute;
}
.letter-content p{
    font-size: 22px;
    color: #767676;
    line-height: 1.8em;
    text-align: center;
    font-weight: 300;
    position: relative;
}
.letter-content p::before{
    content: "\f10d";
    font-family: fontAwesome;
    left: 19px;
    top: -4px;
    font-size: 74px;
    position: absolute;
    opacity: 0.2;
  }

.t-user-image {
	width: 300px;
	margin: auto;
	margin-top: 50px;
}
.t-user-image img{
    float: left;
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
.t-user-content{
    top: 13px;
    position: relative;

}
.t-user-content h2{
    font-size: 25px;
    font-weight: 400;
}
.t-user-content p{
    font-size: 20px;
    color: #767676;
}

/* Contact-section */
.contact-section{
    padding: 80px 0;
}
.contact-map-left{
    width: 48%;
}

.contact-msg-right{
    width: 48%;
}
.contact-details{}
.contact-details h3{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}
.contact-details p{
    font-size: 20px;
    color: #767676;
    line-height: 1.5em;
}

.contact-msg-right .w100{
    width: 100%;
    margin-top: 20px;
}
.contact-msg-right .w50{
    width: 48%;
    margin-top: 20px;
}
.send-btn{
    text-align: center!important;
    margin-top: 30px;
    padding: 22px 280px;
    font-size: 22px;
    max-width: 100%;
    transition: 0.4s;
}



.footer{}
.footer h2{
    font-size: 25px;
    font-weight: 400;
}